References in "name" (relative vs. FQDN)

Currently there are three possible ways to express the current domain. Formats are close to writing a zone file (https://en.wikipedia.org/wiki/Zone_file).

**Option 1 - origin:**

`@` As described in [section 5.1 of RFC1035](https://www.rfc-editor.org/rfc/rfc1035#section-5.1) "@" referes to the current origin. In this case the current domain.

**Option 2 - relative:**
`www` the current origin (domain) is appended to relative paths. E.g. for domain "example.com" this would express "www.example.com".

**Option 3 - FQDN:**
`www.example.com.` FQDN woulb be used as is, but have to be subordinate to origin. 


Discussion needed on:
* Should options reduced to one specific format?
* Usage of trailing dots for signalling FQDN? 
