Add EPP compatibility section

Section 11 of https://datatracker.ietf.org/doc/draft-ietf-rpp-requirements/:

```
   *R8.1* RPP MUST provide functional equivalents for core EPP
   functionalities related to domain name, host, and contact objects as
   defined in [RFC5731], [RFC5732] and [RFC5733].

   *R8.2* The automatic or mechanical mapping or conversion between EPP
   and RPP data model MUST be possible.
```

Adding a compatibility section could be helpful

Topics:
* EPP host attributes
* EPP host objects
* EPP TTL
* EPP max_sig_life

While using type "NS" an implicit host object could be defined from `dns.rdata.nsdname` for it is a reference to a host name representing a name server.

* RFC5732 describes implications when deleting referenced objects. 
* https://datatracker.ietf.org/doc/draft-ietf-regext-epp-delete-bcp/ elaborates on observed practices to disassociate host objects.

These objections must be addressed here.